.message {
  padding: 0.7rem 1rem;
  border-radius: 5px;
  background: #cabdbd;
  font-size: 20px;
  margin-bottom: 1rem;
}

.error_message {
  border: 4px solid red;
  color: red;
}
.success_message {
  color: green;
  border: 4px solid green;
}

.border {
  border: 1px solid black;
  padding: 0.4rem 5px;
  margin-bottom: 0.5rem;
}
